.searchForm {
    margin: 22px 0;
    display: flex;
    margin: 32px 0;
    .searchForm__input {
        width: 80px;
        height: 60px;
        padding: 17px 172px 17px 18px;
        align-items: center;
        gap: 10px;
        flex: 1 0 0;

        border-radius: 15px;
        border: 2px solid #3d3179;
        background: rgba(255, 255, 255, 0.12);
        /* card shadow */
        box-shadow: 0px 5px 53px 0px rgba(0, 0, 0, 0.08);

        color: #fff;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: 'DM Mono';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 74.5%;
    }

    .searchForm__button {
        display: flex;
        width: 60px;
        height: 60px;
        padding: 17px 0px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;

        border-radius: 18px;
        border: 1px solid #2f2f45;
        background: rgba(255, 255, 255, 0.12);
        box-shadow: 0px 5px 53px 0px rgba(0, 0, 0, 0.08);
        margin-left: 8px;
    }
}
