// Imágenes de fondo
$background-violet: url('../assets/images/Rectangle1.png');
$background-orage: url('../assets/images/Rectangle2.png');
$background-green: url('../assets/images/Rectangle3.png');
$background-red: url('../assets/images/Rectangle4.png');

// Tamaños
$card-width: 166px;
$card-height: 206px;

// Colores
$primary-color: #3498db;
$secondary-color: #e74c3c;
$background: linear-gradient(180deg, #6b46bf 0%, #111c37 100%);
